@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --Pink: rgb(255, 82, 191);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}


/* Start Header Style */

header {
    background: var(--Very-Pale-Cyan) url(./img/bg-hero-desktop.svg) no-repeat;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "hd hd" "desc img";
    padding: 3em 4em;
    row-gap: 2em;
}

.h-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: hd;
}

.h-header img {
    width: 200px;
    height: 30px;
}

.h-header a {
    text-decoration: none;
    color: var(--Very-Dark-Cyan);
    background-color: #fff;
    font-family: "Open sans", sans-serif;
    font-size: clamp(.6em, .9em, 1.1em);
    font-weight: 700;
    opacity: .8;
    padding: .8em 3.2em;
    border-radius: 30px;
    transition: 500ms linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.h-header a:hover {
    transform: scale(1.1);
}

.h-description {
    margin-top: 2em;
    grid-area: desc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.h-description h1 {
    font-family: "poppins", sans-serif;
    width: 79%;
    font-size: clamp(1.4em, 2.3em, 2.8em);
    color: var(--Very-Dark-Cyan);
}

.h-description p {
    font-family: "Open sans", sans-serif;
    color: var(--Very-Dark-Cyan);
    line-height: 1.7em;
}

.h-description a {
    font-family: "Open sans", sans-serif;
    width: fit-content;
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    text-decoration: none;
    font-size: clamp(.6em, .9em, 1.1em);
    font-weight: 700;
    padding: 1em 3em;
    box-shadow: rgba(255, 82, 191, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    transition: 500ms linear;
}

.h-description a:hover {
    background-color: rgba(255, 82, 191, .6);
    transform: scale(1.1);
}

.subscribe a:hover {
    background-color: rgba(255, 82, 191, .6);
    transform: scale(1.1);
}

.h-img {
    position: relative;
    left: 10%;
    grid-area: img;
    width: 90%;
    margin-top: 3em;
}


/* End Header Style */


/* Start Main Style */

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2em;
    padding: 8em 0em;
}

.container {
    padding: 2em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    width: 80vw;
}

.text {
    padding-left: 4em;
    width: 50%;
}

.text h2 {
    font-family: "poppins", sans-serif;
    color: var(--Very-Dark-Cyan);
}

.text p {
    margin-top: 1em;
    font-family: "Open sans", sans-serif;
    line-height: 1.5em;
    width: 88%;
    color: var(--Grayish-Blue)
}

main img {
    width: 40%;
}

.subscribe {
    display: flex;
    flex-direction: column;
    place-items: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 3.5em 7em;
    gap: 2em;
    position: relative;
    top: 13em;
    background: #ffffff;
}

.subscribe h1 {
    font-family: "poppins", sans-serif;
    color: var(--Very-Dark-Cyan);
    font-size: 1.5em;
}

.subscribe a {
    font-family: "Open sans", sans-serif;
    width: fit-content;
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    text-decoration: none;
    font-size: clamp(.9em, 1.1em, 1.4em);
    font-weight: 700;
    padding: 1.2em 4em;
    box-shadow: rgba(255, 82, 191, 0.2) 0px 7px 29px 0px;
    border-radius: 50px;
    transition: 500ms linear;
}


/* End Main Style */


/* Start Footer Style */

footer {
    background: var(--Very-Dark-Cyan);
    padding: 8em 8em 5em;
    color: #fff;
    font-family: "Open sans", sans-serif;
    font-size: clamp(.6em, .9em, 1.1em);
}

.f-icon {
    width: 200px;
}

.content {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.content>ul {
    width: 33%;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 33%;
}

.contact>div {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.contact p {
    font-size: clamp(.6em, .9em, 1.1em);
    font-weight: 400;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5em;
    max-height: 150px;
    padding-left: 5em;
}

.socials li {
    display: flex;
    position: relative;
    left: 30%;
    bottom: 3em;
    gap: 1.5em;
}

.content ul {
    list-style: none;
}

.content ul a {
    color: #fff;
    text-decoration: none;
}

.content ul a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: clamp(.5em, .8em, 1em);
    float: right;
}


/* End Footer Style */


/* Start Media Queries */


/* End Media Queries */

@media all and (min-width:316px) and (max-width:1200px) {
    header {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
    .h-header {
        display: flex;
    }
    .h-header img {
        width: 120px;
        height: 20px;
    }
    .h-header a {
        padding: 1em;
    }
    .h-description {
        display: flex;
        place-items: center;
        text-align: center;
    }
    main {
        padding: 1em;
    }
    .container {
        display: flex;
        flex-direction: column-reverse;
        padding: 1em;
        width: 100%
    }
    .container:nth-of-type(2) {
        flex-direction: column;
    }
    main img {
        width: 100%;
    }
    .text {
        margin-top: 1em;
        text-align: center;
        width: 100%;
        padding: 1em;
    }
    .text p {
        font-size: .8em;
        width: 100%;
    }
    .subscribe {
        padding: 2em;
        position: relative;
        top: 5em;
        gap: 1em;
    }
    .subscribe h1 {
        font-size: 1em;
    }
    .subscribe a {
        font-size: .7em;
    }
    footer {
        padding: 8em 2em 4em;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact {
        width: 100%;
    }
    .content>ul {
        width: 100%;
    }
    .nav {
        display: flex;
        flex-direction: column;
        max-height: max-content;
        padding: 0em;
    }
    .socials li {
        position: static;
        display: flex;
        justify-content: center;
    }
    #copyright {
        display: flex;
        justify-content: center;
    }
    .copyright {
        float: none;
        margin-top: 1.2em;
    }
}
